<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876558959199-s2hlv8qudin2hbvmq79ujipt92l0q5ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876558959199-s2hlv8qudin2hbvmq79ujipt92l0q5ds</string>
	<key>API_KEY</key>
	<string>AIzaSyC8zS2iki8VvXVNK2zZwv7oDyGkf5fydAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>876558959199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solidstateapp.com.solidstateapp.28thecog2018</string>
	<key>PROJECT_ID</key>
	<string>ecog2018-e0eac</string>
	<key>STORAGE_BUCKET</key>
	<string>ecog2018-e0eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876558959199:ios:c37331c3c6d39a05</string>
	<key>DATABASE_URL</key>
	<string>https://ecog2018-e0eac.firebaseio.com</string>
</dict>
</plist>